# general things to ignore
.DS_Store
build/
build_contrib/
dist/
.cache/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# gradio files
.gradio/

# IDE
.vscode/
.idea

# misc
checkpoints/
test_waves/
reconstructed/
.python-version
ruff.log
/configs/inuse/

*.whl

/results/
/error/
/venv/
/examples/test/
/logs/
/wheels/

go-api.bat
go-api-conda.bat
